.container {
  margin-top: 60px;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.button {
  height: 40px;
  width: 150px;
  background-color: #000000;
  box-shadow: inset 1px 1px 10px #333;
  color: #eee;
  border-width: 5px;
  margin-bottom: 10px;
}

.button:hover {
  /* background-color: #333333; */
}

.button:active {
  box-shadow: none;
}

.nodeContainer {
  display: flex;
  gap: 0;
}

.nodeItemWrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.node {
  border-style: solid;
  border-color: #545454;
  border-width: 5px;
  border-bottom-color: #000;
  border-right-color: #000;
  height: 100px;
  width: 100px;
  justify-content: center;
  align-items: center;
  display: flex;
  box-shadow: inset 1px -1px 10px #333;
}

.node p {
  color: #cccccc;
  font-weight: bold;
  font-size: 1.5rem;
}

.separator {
  height: 2px;
  width: 30px;
  background-color: #ffffff;
}
